<% include partials/header %>

    <div class="container">
        <h1>Welcom to the landing page!</h1>
        <a href="/campgrounds"><h2>View all the campgrounds</h2></a>
    </div>

<% include partials/footer %> 