<% include partials/header %>

<div class="container">

    <h1>Sorry, but this page is not found.</h1>
    <h1>You should go home and rethink your life.</h1>
    
    <figure>
        <figcaption>Maybe this doggie will cheer your up!</figcaption>
        <img class="image-responsive" src="http://www.101dogbreeds.com/wp-content/uploads/2015/05/Victorian-Bulldog-Full-Grown.jpg" alt="Photo of a cute bulldog">
    </figure>

</div>

<% include partials/footer %>