<% include ../partials/header %>

<h1>Please search for something below:</h1>

<form>  
    <input type="text" name="searchTerm">
    <button class="btm-primary">Submit</button>

</form>


<% include ../partials/footer %>